@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form>
        <input class="form-control-sm" placeholder="Type a city"/>
        <input class="btn btn-primary" type="submit" />
    </form>
</div>
